<mat-card-actions *ngIf="jeu">
  <mat-card-header>

    <mat-card-title>
      <a [routerLink]="['/jeux', jeu.id]">
        {{ jeu.nom }}
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      {{ jeu.categorie.nom }} - {{ jeu.theme.nom }} - {{ jeu.langue }}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/{{ jeu.url_media }}" alt="{{ jeu.nom }}">

  <mat-card-content>
    <p>{{ jeu.description }}</p>

    <div *ngIf="authenticated" class="more-informations">
      <app-carte-jeu-note [rating]="jeuRequest.note_moyenne"></app-carte-jeu-note>
      <p>Nombre de likes : {{ jeuRequest.nb_likes }}</p>
    </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-button [routerLink]="['/jeux', jeu.id]">VOIR</a>

  </mat-card-actions>
  <mat-card-actions>
      <a mat-icon-button [routerLink]="['/jeux', jeu.id, 'update']">
        <mat-icon>create</mat-icon>
      </a>
  </mat-card-actions>
</mat-card-actions>
