<div *ngIf="profilCourant$ | async as profil">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img [src]="profil.adherent.avatar" alt="Avatar">
      </div>
      <mat-card-title>{{ profil.adherent.login }}</mat-card-title>
      <mat-card-subtitle>Nom: {{ profil.adherent.nom }} - Prénom: {{ profil.adherent.prenom }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h3>Commentaires postés:</h3>
      <div class="commentaires-container">
        <mat-list class="commentaires-list">
          <mat-list-item *ngFor="let commentaire of profil.commentaires">
            <p>Contenu: {{ commentaire.commentaire }}</p>
            <p>Date du commentaire: {{ commentaire.date_com }}</p>
            <p>Note: {{ commentaire.note }}</p>
            <p>État: {{ commentaire.etat }}</p>
          </mat-list-item>
        </mat-list>
      </div>

      <!-- ... autres sections du profil ... -->
    </mat-card-content>
    <mat-card-content>

      <h3>Jeux achetés:</h3>
      <mat-table [dataSource]="profil.achats">
        <ng-container matColumnDef="jeu_id">
          <mat-header-cell *matHeaderCellDef>Nom du jeu</mat-header-cell>
          <mat-cell *matCellDef="let jeuAchete">{{ jeuAchete.jeu_id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date_achat">
          <mat-header-cell *matHeaderCellDef>Date d'achat</mat-header-cell>
          <mat-cell *matCellDef="let jeuAchete">{{ jeuAchete.date_achat }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lieu_achat">
          <mat-header-cell *matHeaderCellDef>Lieu d'achat</mat-header-cell>
          <mat-cell *matCellDef="let jeuAchete">{{ jeuAchete.lieu_achat }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="prix">
          <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
          <mat-cell *matCellDef="let jeuAchete">{{ jeuAchete.prix }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['jeu_id', 'date_achat', 'lieu_achat', 'prix']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['jeu_id', 'date_achat', 'lieu_achat', 'prix']"></mat-row>
      </mat-table>

      <h3>Jeux aimés:</h3>
      <mat-list>
        <mat-list-item *ngFor="let jeuAime of profil.likes">
          <p>Nom du jeu: {{ jeuAime.jeu_id }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
