<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="header-spacer"></span>
    <div class="example-button-row">
      <!-- TODO Check if the user is connected or not. -->
      <!-- TODO For connected users -->
      <img class="header-avatar" src="favicon.ico">
      Firstname
      Lastname
      <a mat-stroked-button class="header-button" href="">Mon profil</a>
      <a mat-stroked-button class="header-button" href="">Liste des jeux</a>
      <a mat-stroked-button class="header-button" href="">Se déconnecter</a>
      <!-- TODO For unconnected users -->
      <a mat-stroked-button class="header-button" href="">Se connecter</a>
      <a mat-stroked-button class="header-button" href="">S'enregistrer</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
