<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="header-spacer"></span>
    <div class="example-button-row">
      <!-- TODO Check if the user is connected or not. -->
      <!-- TODO For connected users -->
      <div *ngIf="userIsConnected()">
        <img class="header-avatar" ngSrc="favicon.ico" height="30" width="28" alt="Avatar">
        <span *ngIf="currentProfile$ | async as profil">
          {{ profil.adherent.nom }}
          {{ profil.adherent.prenom }}
        </span>
        <a mat-stroked-button class="header-button" routerLink="/profil">Mon profil</a>
        <a mat-stroked-button class="header-button" routerLink="/jeux" href="">Liste des jeux</a>
        <a mat-stroked-button class="header-button" (click)="logout()">Se déconnecter</a>
      </div>
      <!-- TODO For unconnected users -->
      <div *ngIf="!userIsConnected()">
        <a mat-stroked-button class="header-button" routerLink="/login">Se connecter</a>
        <a mat-stroked-button class="header-button" routerLink="/register">S'enregistrer</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

