<mat-card *ngIf="jeu">
  <div class="container">
  <mat-card-title>Jeu : {{ jeu.nom }}</mat-card-title>

  <mat-card-subtitle>{{ jeu.description }}</mat-card-subtitle>

  <div class="info">
    <span class="label">Langue:</span>
    <span class="value">{{ jeu.langue }}</span>
  </div>

  <div class="info">
    <span class="label">Catégorie:</span>
    <span class="value">{{ jeu.categorie.nom }}</span>
  </div>

  <div class="info">
    <span class="label">Thème:</span>
    <span class="value">{{ jeu.theme.nom }}</span>
  </div>

  <div class="info">
    <span class="label">Moyenne note:</span>
    <span class="value">{{ noteMoyenne }}</span>
  </div>

  <div class="info">
    <span class="label">Nombre de likes:</span>
    <span class="value">{{ nbLike }}</span>
  </div>

  <button mat-raised-button color="primary" (click)="toggleLike()">{{ isLiked ? 'Unlike' : 'Like' }}</button>

  <div class="info">
    <span class="label">Prix moyen:</span>
    <span class="value"></span>
  </div>

  <button mat-raised-button (click)="toggleSortOldestFirst()" [ngClass]="{ 'active': showOldestFirst }">
    Tri du plus ancien au plus récent
  </button>

  <button mat-raised-button (click)="toggleSortNewestFirst()" [ngClass]="{ 'active': showNewestFirst }">
    Tri du plus récent au plus ancien
  </button>

  <div class="commentaires">
    <h2>Liste des commentaires</h2>
    <div *ngFor="let commentaire of commentaires" class="comment-{{commentaire.id}}">
      <p>{{ commentaire.commentaire }}</p>
    </div>
  </div>
    <div *ngIf="user_id">
    <button mat-raised-button color="primary" *ngIf="!isUserBuy()" (click)="openModalBuy()">Buy</button>
    <button mat-raised-button color="primary" *ngIf="isUserBuy()" (click)="openModalUnBuy()">Cancel buy</button>
    </div>
  </div>

<!--  <button mat-raised-button color="primary" (click)="openModalUnike()">Unlike</button>-->

</mat-card>
