<div *ngIf="jeu">
  <mat-card>
    <mat-card-header>
      <h1>{{ jeu.nom }}</h1>

      <div>
        <img [src]="image.src" alt="Uploaded Image">
      </div>

      <mat-card-title-group>
        <mat-chip class="langue">
          Langue : {{ jeu.langue }}
        </mat-chip>

        <mat-chip class="categorie">
          Catégorie : {{ jeu.categorie.nom }}
        </mat-chip>

        <mat-chip class="theme">
          Thème : {{ jeu.theme.nom }}
        </mat-chip>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <p class="description">{{ jeu.description }}</p>

      <app-carte-jeu-note [rating]="noteMoyenne"></app-carte-jeu-note>

      <div class="info">
        <span class="label">Nombre like: </span>
        <span class="value">{{ nbLike }}</span>
        <button *ngIf="isLiked" mat-flat-button color="warn" (click)="toggleLike()">Unlike</button>
        <button *ngIf="!isLiked" mat-stroked-button color="warn" (click)="toggleLike()">Like</button>
      </div>


      <div class="info">
        <span class="label">Prix moyen: </span>
        <span class="value">{{ prixMoyen }}</span>
      </div>

      <button mat-stroked-button (click)="toggleSortOldestFirst()" [class.active]="showOldestFirst">Tri du plus ancien
        au plus récent
      </button>
      <button mat-stroked-button (click)="toggleSortNewestFirst()" [class.active]="showNewestFirst">Tri du plus récent
        au plus ancien
      </button>

      <hr>

      <button mat-raised-button color="primary" (click)="openModalBuy()">Buy</button>
      <button mat-raised-button color="primary" (click)="openModalUnBuy()">Cancel buy</button>

      <div class="commentaires">
        <h2>Liste des commentaires</h2>
        <button mat-raised-button color="primary" (click)="openCommentModal(jeu)">Ajouter un commentaire</button>
        <div *ngFor="let commentaire of commentaires" class="comment-{{commentaire.id}}">
          <p>{{ commentaire.commentaire }}</p>
          <button mat-icon-button color="primary" (click)="editCommentaire(commentaire,jeu)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="deleteCommentaire(commentaire.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
